/* variables */

/*  defults */

body {
  background-image:url("../images/snow-mountain.jpg");

  font-family: Arial, Helvetica, sans-serif;
}
img{
  max-width:100%;
}
/* header */
header
{background-color: white;
padding:50px;
}
.header-text {
    color: palegreen;
    font-size: 50px;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: bold; 
    
}
.header-sub-text {color: tomato;
  font-size: 20px;}
/* foorter*/

/* section */  
section {
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    margin-bottom: 50px; 
    padding: 20px;
}

    .intro {
   background-color:goldenrod;    }
    .content {
  background-color:RGB(139, 0, 0)
    }
    .final{
   background-color: RGBA(205, 92, 92,0.7)
    }
    /* froms */



  











