body { 
    background-image:url(../images/snow\ mountain.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
/* header and structer */
 
/* section */  
section {
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    margin-bottom: 50px; 
    padding: 20px;
}

    .Intro {
          background-color:goldenrod;    }
    .content {
        background-color:RGB(139, 0, 0)
    }
    .final{
        background-color: RGBA(205, 92, 92,0.7)
    }



  











