/* variables */

/*  defults */

body {
  background-image:url("../images/flower.jpg");

  font-family: Arial, Helvetica, sans-serif;
}
img{
  max-width:100%;
}
/* header */

header
{background-color:silver;
padding:50px;
}
.header-text {
    color: rgb(145, 26, 61);
    font-size: 70px;
    text-align: end;
    font-family: 'Tangerine', cursive;
    font-weight: bold; 
    
}
.header-sub-text {color:rgb(132, 127, 180);
  font-size: 40px;}
/* foorter*/


/* section */  
section {
    border-width: 3px;
    border-color: greenyellow;
    border-style:solid;
    margin-bottom: 80px; 
    padding: 20px;
}

  .intro {
   background-color:slateblue;    }

   @media screen and (min-width: 800px){

   .intro {
     background-color:rgb(175, 95, 135)}
    .content {
  background-color:RGB(139, 0, 0)
    }
    .final{
   background-color: RGBA(205, 92, 92,0.7)
    }
    /* froms */



  











